.footer {
  width: 100%;
  height: 384px;
}
.footer .guarantee {
  width: 100%;
  height: 98px;
  padding: 50px 0 0;
  text-align: center;
}
.footer .guarantee > h2 {
  line-height: 75px;
  font-size: 30px;
  color: #333333;
  font-weight: bold;
  letter-spacing: 1px;
}
.footer .guarantee > h2 > span {
  font-size: 30px;
  color: #ce0712 ;
  font-weight: bold;
  letter-spacing: 1px;
}
.footer .guarantee > p {
  font-size: 22px;
  color: #333333;
  font-weight: 500;
}
.footer .service {
  width: 100%;
  height: 66px;
  line-height: 66px;
  text-align: center;
}
.footer .service > span > img {
  margin-right: 5px;
  vertical-align: middle;
}
.footer .service > span > b {
  font-size: 16px;
  margin-right: 20px;
}
.footer .city {
  padding: 50px 0 0;
  width: 90%;
  height: 120px;
  display: flex;
  margin: 0 auto;
}
.footer .city .city_left {
  flex: 1;
}
.footer .city .city_left > span {
  color: #333333;
  font-size: 18px;
  font-weight: bold;
}
.footer .city .city_right {
  height: 100px;
  flex: 9;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.footer .city .city_right > li {
  text-align: center;
  font-size: 15px;
  width: 9%;
  color: #7e8c8d;
}
.copyright {
  margin: 0 auto;
  width: 90%;
  height: 40px;
}
.copyright p {
  line-height: 40px;
  color: #7e8c8d;
  font-size: 14px;
}
